<?xml version="1.0"?>
<robot name="pr2">
  <link name="world_root"/>
  <link name="base_x_link"/>
  <link name="base_y_link"/>
  <joint name="x" type="prismatic"><parent link="world_root"/><child link="base_x_link"/>
    <axis xyz="1 0 0"/><limit effort="1000" lower="-2.5" upper="2.5" velocity="1.0"/></joint>
  <joint name="y" type="prismatic"><parent link="base_x_link"/><child link="base_y_link"/>
    <axis xyz="0 1 0"/><limit effort="1000" lower="-2.5" upper="2.5" velocity="1.0"/></joint>
  <joint name="theta" type="revolute"><parent link="base_y_link"/><child link="base_footprint"/>
    <axis xyz="0 0 1"/><limit effort="1000" lower="-3.14159265" upper="3.14159265" velocity="1.5"/></joint>
  <link name="base_footprint"/>
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0.000000 0.000000 0.051000" rpy="0.000000 -0.000000 0.000000"/>
    <parent link="base_footprint"/><child link="base_link"/>
  </joint>
  <link name="base_link">
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.2505 -0.2505 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.2505 -0.2505 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.2505 -0.0835 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.2505 -0.0835 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.2505 0.0835 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.2505 0.0835 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.2505 0.2505 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.2505 0.2505 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.0835 -0.2505 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.0835 -0.2505 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.0835 -0.0835 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.0835 -0.0835 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.0835 0.0835 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.0835 0.0835 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.0835 0.2505 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="-0.0835 0.2505 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.0835 -0.2505 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.0835 -0.2505 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.0835 -0.0835 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.0835 -0.0835 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.0835 0.0835 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.0835 0.0835 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.0835 0.2505 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.0835 0.2505 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.2505 -0.2505 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.2505 -0.2505 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.2505 -0.0835 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.2505 -0.0835 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.2505 0.0835 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.2505 0.0835 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.2505 0.2505 0.1181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.2505 0.2505 0.2328" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0750"/></geometry><origin xyz="-0.2790 -0.2790 0.0750" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0750"/></geometry><origin xyz="-0.2790 0.0000 0.0750" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0750"/></geometry><origin xyz="-0.2790 0.2790 0.0750" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0750"/></geometry><origin xyz="0.0000 -0.2790 0.0750" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0750"/></geometry><origin xyz="0.0000 0.2790 0.0750" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0750"/></geometry><origin xyz="0.2790 -0.2790 0.0750" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0750"/></geometry><origin xyz="0.2790 0.0000 0.0750" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0750"/></geometry><origin xyz="0.2790 0.2790 0.0750" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="-0.2388 -0.1607 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="-0.2388 0.0000 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="-0.2388 0.1607 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="-0.0842 -0.1607 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="-0.0842 0.0000 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="-0.0842 0.1607 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="0.0702 -0.1607 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="0.0702 0.0000 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="0.0702 0.1607 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="0.2247 -0.1607 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="0.2247 0.0000 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1114"/></geometry><origin xyz="0.2247 0.1607 0.3150" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0804"/></geometry><origin xyz="-0.2945 -0.1400 0.3822" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0804"/></geometry><origin xyz="-0.2945 -0.1400 0.5030" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0804"/></geometry><origin xyz="-0.2945 -0.1400 0.6238" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0804"/></geometry><origin xyz="-0.2945 -0.0000 0.3822" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0804"/></geometry><origin xyz="-0.2945 -0.0000 0.5030" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0804"/></geometry><origin xyz="-0.2945 -0.0000 0.6238" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0804"/></geometry><origin xyz="-0.2945 0.1400 0.3822" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0804"/></geometry><origin xyz="-0.2945 0.1400 0.5030" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0804"/></geometry><origin xyz="-0.2945 0.1400 0.6238" rpy="0 0 0"/></collision>
  </link>
  <joint name="base_bellow_joint" type="fixed">
    <origin xyz="-0.290000 0.000000 0.800000" rpy="0.000000 -0.000000 0.000000"/>
    <parent link="base_link"/><child link="base_bellow_link"/>
  </joint>
  <link name="base_bellow_link"/>
  <joint name="torso_lift_joint" type="fixed">
    <origin xyz="-0.050000 0.000000 1.039675" rpy="0.000000 -0.000000 0.000000"/>
    <parent link="base_link"/><child link="torso_lift_link"/>
  </joint>
  <link name="torso_lift_link">
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 -0.1980 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 -0.1980 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 -0.1980 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 -0.0660 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 -0.0660 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 -0.0660 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 0.0660 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 0.0660 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 0.0660 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 0.1980 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 0.1980 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.2213 0.1980 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 -0.1980 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 -0.1980 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 -0.1980 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 -0.0660 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 -0.0660 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 -0.0660 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 0.0660 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 0.0660 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 0.0660 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 0.1980 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 0.1980 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="-0.0880 0.1980 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 -0.1980 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 -0.1980 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 -0.1980 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 -0.0660 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 -0.0660 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 -0.0660 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 0.0660 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 0.0660 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 0.0660 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 0.1980 0.0375" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 0.1980 0.1570" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0938"/></geometry><origin xyz="0.0453 0.1980 0.2765" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0788"/></geometry><origin xyz="-0.2495 -0.1387 -0.1685" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0788"/></geometry><origin xyz="-0.2495 -0.1387 -0.1000" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0788"/></geometry><origin xyz="-0.2495 -0.1387 -0.0315" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0788"/></geometry><origin xyz="-0.2495 0.0000 -0.1685" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0788"/></geometry><origin xyz="-0.2495 0.0000 -0.1000" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0788"/></geometry><origin xyz="-0.2495 0.0000 -0.0315" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0788"/></geometry><origin xyz="-0.2495 0.1387 -0.1685" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0788"/></geometry><origin xyz="-0.2495 0.1387 -0.1000" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0788"/></geometry><origin xyz="-0.2495 0.1387 -0.0315" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.1633 -0.1100 -0.4766" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.1633 -0.1100 -0.3530" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.1633 -0.1100 -0.2294" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.1633 0.0000 -0.4766" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.1633 0.0000 -0.3530" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.1633 0.0000 -0.2294" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.1633 0.1100 -0.4766" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.1633 0.1100 -0.3530" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.1633 0.1100 -0.2294" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.0658 -0.1100 -0.4766" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.0658 -0.1100 -0.3530" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.0658 -0.1100 -0.2294" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.0658 0.0000 -0.4766" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.0658 0.0000 -0.3530" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.0658 0.0000 -0.2294" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.0658 0.1100 -0.4766" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.0658 0.1100 -0.3530" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0735"/></geometry><origin xyz="-0.0658 0.1100 -0.2294" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_shoulder_pan_joint" type="revolute">
    <origin xyz="0.0 -0.188 0.0" rpy="0 0 0"/>
    <parent link="torso_lift_link"/><child link="r_shoulder_pan_link"/>
    <axis xyz="0 0 1"/><limit effort="100" lower="-2.2853981634" upper="0.714601836603" velocity="2.0"/>
  </joint>
  <link name="r_shoulder_pan_link">
    <collision><geometry><sphere radius="0.1706"/></geometry><origin xyz="-0.0077 0.0037 -0.3731" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1821"/></geometry><origin xyz="0.0043 0.0003 0.0159" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1776"/></geometry><origin xyz="0.0976 -0.0000 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1744"/></geometry><origin xyz="0.0159 0.0001 -0.2402" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1817"/></geometry><origin xyz="0.0532 0.0001 -0.1188" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1151"/></geometry><origin xyz="0.0055 -0.0450 -0.4090" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_shoulder_lift_joint" type="revolute">
    <origin xyz="0.1 0 0" rpy="0 0 0"/>
    <parent link="r_shoulder_pan_link"/><child link="r_shoulder_lift_link"/>
    <axis xyz="0 1 0"/><limit effort="100" lower="-0.5236" upper="1.3963" velocity="2.0"/>
  </joint>
  <link name="r_shoulder_lift_link">
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.0439 -0.0001 0.0479" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1190"/></geometry><origin xyz="-0.0362 -0.0000 0.0351" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1206"/></geometry><origin xyz="0.0334 -0.0002 -0.0401" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1202"/></geometry><origin xyz="-0.0371 -0.0001 -0.0357" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_upper_arm_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="r_shoulder_lift_link"/><child link="r_upper_arm_roll_link"/>
    <axis xyz="1 0 0"/><limit effort="100" lower="-3.9" upper="0.8" velocity="2.0"/>
  </joint>
  <link name="r_upper_arm_roll_link">
    <collision><geometry><sphere radius="0.0723"/></geometry><origin xyz="0.1296 -0.0009 -0.0063" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0724"/></geometry><origin xyz="0.1296 0.0009 0.0062" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_upper_arm_joint" type="fixed">
    <origin xyz="0.000000 0.000000 -0.000000" rpy="0.000000 0.000000 0.000000"/>
    <parent link="r_upper_arm_roll_link"/><child link="r_upper_arm_link"/>
  </joint>
  <link name="r_upper_arm_link">
    <collision><geometry><sphere radius="0.0953"/></geometry><origin xyz="0.4137 0.0003 0.0034" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0945"/></geometry><origin xyz="0.3474 -0.0006 0.0112" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0954"/></geometry><origin xyz="0.3732 0.0000 -0.0169" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0968"/></geometry><origin xyz="0.2755 0.0002 -0.0144" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0995"/></geometry><origin xyz="0.2474 -0.0004 0.0064" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1003"/></geometry><origin xyz="0.1879 -0.0003 -0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0863"/></geometry><origin xyz="0.1007 -0.0005 -0.0042" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0482"/></geometry><origin xyz="-0.0056 -0.0005 -0.0108" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_elbow_flex_joint" type="revolute">
    <origin xyz="0.4 0 0" rpy="0 0 0"/>
    <parent link="r_upper_arm_link"/><child link="r_elbow_flex_link"/>
    <axis xyz="0 1 0"/><limit effort="100" lower="-2.3213" upper="0.00" velocity="2.0"/>
  </joint>
  <link name="r_elbow_flex_link">
    <collision><geometry><sphere radius="0.0729"/></geometry><origin xyz="0.0514 -0.0005 -0.0120" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0577"/></geometry><origin xyz="0.0073 -0.0002 0.0444" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0565"/></geometry><origin xyz="-0.0475 -0.0002 0.0106" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0582"/></geometry><origin xyz="-0.0128 -0.0002 -0.0425" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_forearm_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="r_elbow_flex_link"/><child link="r_forearm_roll_link"/>
    <axis xyz="1 0 0"/><limit effort="100" lower="-3.14159265" upper="3.14159265" velocity="2.0"/>
  </joint>
  <link name="r_forearm_roll_link">
    <collision><geometry><sphere radius="0.0508"/></geometry><origin xyz="0.0739 0.0031 0.0019" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0348"/></geometry><origin xyz="0.0087 -0.0000 -0.0000" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0483"/></geometry><origin xyz="0.0760 -0.0057 0.0033" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_forearm_joint" type="fixed">
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <parent link="r_forearm_roll_link"/><child link="r_forearm_link"/>
  </joint>
  <link name="r_forearm_link">
    <collision><geometry><sphere radius="0.0620"/></geometry><origin xyz="0.1665 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0614"/></geometry><origin xyz="0.1845 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0625"/></geometry><origin xyz="0.1485 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0608"/></geometry><origin xyz="0.2025 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0601"/></geometry><origin xyz="0.2205 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0574"/></geometry><origin xyz="0.1665 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0573"/></geometry><origin xyz="0.1845 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0572"/></geometry><origin xyz="0.2025 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0571"/></geometry><origin xyz="0.2205 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0587"/></geometry><origin xyz="0.2385 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0574"/></geometry><origin xyz="0.1485 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0570"/></geometry><origin xyz="0.2385 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0550"/></geometry><origin xyz="0.1485 -0.0056 0.0181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0559"/></geometry><origin xyz="0.2565 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0556"/></geometry><origin xyz="0.2565 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0530"/></geometry><origin xyz="0.2745 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0527"/></geometry><origin xyz="0.2745 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0501"/></geometry><origin xyz="0.2925 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0498"/></geometry><origin xyz="0.2925 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0472"/></geometry><origin xyz="0.3105 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0469"/></geometry><origin xyz="0.3105 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0458"/></geometry><origin xyz="0.2745 -0.0236 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0455"/></geometry><origin xyz="0.2925 -0.0236 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0457"/></geometry><origin xyz="0.1305 0.0124 0.0181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0452"/></geometry><origin xyz="0.3105 -0.0236 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0376"/></geometry><origin xyz="0.2745 0.0304 -0.0179" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0361"/></geometry><origin xyz="0.2925 0.0304 -0.0179" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0381"/></geometry><origin xyz="0.1305 0.0304 -0.0179" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0379"/></geometry><origin xyz="0.3285 0.0304 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0353"/></geometry><origin xyz="0.1305 -0.0236 0.0361" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_wrist_flex_joint" type="revolute">
    <origin xyz="0.321 0 0" rpy="0 0 0"/>
    <parent link="r_forearm_link"/><child link="r_wrist_flex_link"/>
    <axis xyz="0 1 0"/><limit effort="100" lower="-2.18" upper="0.0" velocity="2.0"/>
  </joint>
  <link name="r_wrist_flex_link">
    <collision><geometry><sphere radius="0.0247"/></geometry><origin xyz="-0.0070 -0.0063 -0.0105" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0248"/></geometry><origin xyz="-0.0070 -0.0063 0.0045" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0246"/></geometry><origin xyz="0.0080 -0.0063 -0.0105" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0247"/></geometry><origin xyz="0.0080 -0.0063 0.0045" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0223"/></geometry><origin xyz="-0.0070 0.0087 -0.0105" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0224"/></geometry><origin xyz="-0.0070 0.0087 0.0045" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0223"/></geometry><origin xyz="0.0080 0.0087 -0.0105" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0224"/></geometry><origin xyz="0.0080 0.0087 0.0045" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0246"/></geometry><origin xyz="-0.0070 -0.0063 0.0195" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0246"/></geometry><origin xyz="0.0080 -0.0063 0.0195" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_wrist_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="r_wrist_flex_link"/><child link="r_wrist_roll_link"/>
    <axis xyz="1 0 0"/><limit effort="100" lower="-3.14159265" upper="3.14159265" velocity="2.0"/>
  </joint>
  <link name="r_wrist_roll_link">
    <collision><geometry><sphere radius="0.0209"/></geometry><origin xyz="0.0332 -0.0000 -0.0000" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_gripper_palm_joint" type="fixed">
    <origin xyz="-0.000000 0.000000 0.000000" rpy="-0.000000 0.000000 0.000000"/>
    <parent link="r_wrist_roll_link"/><child link="r_gripper_palm_link"/>
  </joint>
  <link name="r_gripper_palm_link">
    <collision><geometry><sphere radius="0.0285"/></geometry><origin xyz="0.0744 -0.0203 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0283"/></geometry><origin xyz="0.0894 -0.0203 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0284"/></geometry><origin xyz="0.0594 -0.0053 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0285"/></geometry><origin xyz="0.0744 -0.0053 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0283"/></geometry><origin xyz="0.0894 -0.0053 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0281"/></geometry><origin xyz="0.1044 -0.0053 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0284"/></geometry><origin xyz="0.0594 0.0097 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0285"/></geometry><origin xyz="0.0744 0.0097 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0283"/></geometry><origin xyz="0.0894 0.0097 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0281"/></geometry><origin xyz="0.1044 0.0097 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0285"/></geometry><origin xyz="0.0744 0.0247 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0283"/></geometry><origin xyz="0.0894 0.0247 0.0058" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_gripper_tool_joint" type="fixed">
    <origin xyz="0.180000 0.000000 0.000000" rpy="-0.000000 0.000000 0.000000"/>
    <parent link="r_gripper_palm_link"/><child link="r_gripper_tool_frame"/>
  </joint>
  <link name="r_gripper_tool_frame"/>
  <joint name="r_gripper_l_finger_joint" type="fixed">
    <origin xyz="0.076910 0.010000 0.000000" rpy="-0.000000 -0.000000 0.487111"/>
    <parent link="r_gripper_palm_link"/><child link="r_gripper_l_finger_link"/>
  </joint>
  <link name="r_gripper_l_finger_link">
    <collision><geometry><sphere radius="0.0396"/></geometry><origin xyz="0.0165 0.0163 -0.0034" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0365"/></geometry><origin xyz="0.0627 0.0159 0.0002" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0392"/></geometry><origin xyz="0.0163 0.0162 0.0035" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_gripper_l_finger_tip_joint" type="fixed">
    <origin xyz="0.091370 0.004950 0.000000" rpy="0.000000 0.000000 -0.487111"/>
    <parent link="r_gripper_l_finger_link"/><child link="r_gripper_l_finger_tip_link"/>
  </joint>
  <link name="r_gripper_l_finger_tip_link">
    <collision><geometry><sphere radius="0.0219"/></geometry><origin xyz="0.0118 -0.0049 -0.0000" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0211"/></geometry><origin xyz="-0.0092 0.0108 0.0000" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_gripper_r_finger_joint" type="fixed">
    <origin xyz="0.076910 -0.010000 0.000000" rpy="0.000000 0.000000 -0.487111"/>
    <parent link="r_gripper_palm_link"/><child link="r_gripper_r_finger_link"/>
  </joint>
  <link name="r_gripper_r_finger_link">
    <collision><geometry><sphere radius="0.0387"/></geometry><origin xyz="0.0158 -0.0158 0.0038" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0372"/></geometry><origin xyz="0.0616 -0.0160 0.0006" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0390"/></geometry><origin xyz="0.0161 -0.0161 -0.0036" rpy="0 0 0"/></collision>
  </link>
  <joint name="r_gripper_r_finger_tip_joint" type="fixed">
    <origin xyz="0.091370 -0.004950 0.000000" rpy="0.000000 -0.000000 0.487111"/>
    <parent link="r_gripper_r_finger_link"/><child link="r_gripper_r_finger_tip_link"/>
  </joint>
  <link name="r_gripper_r_finger_tip_link">
    <collision><geometry><sphere radius="0.0209"/></geometry><origin xyz="-0.0093 -0.0110 -0.0000" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0219"/></geometry><origin xyz="0.0118 0.0049 0.0000" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_shoulder_pan_joint" type="revolute">
    <origin xyz="0.0 0.188 0.0" rpy="0 0 0"/>
    <parent link="torso_lift_link"/><child link="l_shoulder_pan_link"/>
    <axis xyz="0 0 1"/><limit effort="100" lower="-0.714601836603" upper="2.2853981634" velocity="2.0"/>
  </joint>
  <link name="l_shoulder_pan_link">
    <collision><geometry><sphere radius="0.1706"/></geometry><origin xyz="-0.0077 0.0037 -0.3731" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1821"/></geometry><origin xyz="0.0043 0.0003 0.0159" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1776"/></geometry><origin xyz="0.0976 -0.0000 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1744"/></geometry><origin xyz="0.0159 0.0001 -0.2402" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1817"/></geometry><origin xyz="0.0532 0.0001 -0.1188" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1151"/></geometry><origin xyz="0.0055 -0.0450 -0.4090" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_shoulder_lift_joint" type="revolute">
    <origin xyz="0.1 0 0" rpy="0 0 0"/>
    <parent link="l_shoulder_pan_link"/><child link="l_shoulder_lift_link"/>
    <axis xyz="0 1 0"/><limit effort="100" lower="-0.5236" upper="1.3963" velocity="2.0"/>
  </joint>
  <link name="l_shoulder_lift_link">
    <collision><geometry><sphere radius="0.1181"/></geometry><origin xyz="0.0439 -0.0001 0.0479" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1190"/></geometry><origin xyz="-0.0362 -0.0000 0.0351" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1206"/></geometry><origin xyz="0.0334 -0.0002 -0.0401" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1202"/></geometry><origin xyz="-0.0371 -0.0001 -0.0357" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_upper_arm_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="l_shoulder_lift_link"/><child link="l_upper_arm_roll_link"/>
    <axis xyz="1 0 0"/><limit effort="100" lower="-0.8" upper="3.9" velocity="2.0"/>
  </joint>
  <link name="l_upper_arm_roll_link">
    <collision><geometry><sphere radius="0.0723"/></geometry><origin xyz="0.1296 -0.0009 -0.0063" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0724"/></geometry><origin xyz="0.1296 0.0009 0.0062" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_upper_arm_joint" type="fixed">
    <origin xyz="0.000000 0.000000 -0.000000" rpy="0.000000 0.000000 0.000000"/>
    <parent link="l_upper_arm_roll_link"/><child link="l_upper_arm_link"/>
  </joint>
  <link name="l_upper_arm_link">
    <collision><geometry><sphere radius="0.0953"/></geometry><origin xyz="0.4137 0.0003 0.0034" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0945"/></geometry><origin xyz="0.3474 -0.0006 0.0112" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0954"/></geometry><origin xyz="0.3732 0.0000 -0.0169" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0968"/></geometry><origin xyz="0.2755 0.0002 -0.0144" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0995"/></geometry><origin xyz="0.2474 -0.0004 0.0064" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1003"/></geometry><origin xyz="0.1879 -0.0003 -0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0863"/></geometry><origin xyz="0.1007 -0.0005 -0.0042" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0482"/></geometry><origin xyz="-0.0056 -0.0005 -0.0108" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_elbow_flex_joint" type="revolute">
    <origin xyz="0.4 0 0" rpy="0 0 0"/>
    <parent link="l_upper_arm_link"/><child link="l_elbow_flex_link"/>
    <axis xyz="0 1 0"/><limit effort="100" lower="-2.3213" upper="0.00" velocity="2.0"/>
  </joint>
  <link name="l_elbow_flex_link">
    <collision><geometry><sphere radius="0.0729"/></geometry><origin xyz="0.0514 -0.0005 -0.0120" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0577"/></geometry><origin xyz="0.0073 -0.0002 0.0444" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0565"/></geometry><origin xyz="-0.0475 -0.0002 0.0106" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0582"/></geometry><origin xyz="-0.0128 -0.0002 -0.0425" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_forearm_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="l_elbow_flex_link"/><child link="l_forearm_roll_link"/>
    <axis xyz="1 0 0"/><limit effort="100" lower="-3.14159265" upper="3.14159265" velocity="2.0"/>
  </joint>
  <link name="l_forearm_roll_link">
    <collision><geometry><sphere radius="0.0508"/></geometry><origin xyz="0.0739 0.0031 0.0019" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0348"/></geometry><origin xyz="0.0087 -0.0000 -0.0000" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0483"/></geometry><origin xyz="0.0760 -0.0057 0.0033" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_forearm_joint" type="fixed">
    <origin xyz="0.000000 0.000000 0.000000" rpy="-0.000000 0.000000 0.000000"/>
    <parent link="l_forearm_roll_link"/><child link="l_forearm_link"/>
  </joint>
  <link name="l_forearm_link">
    <collision><geometry><sphere radius="0.0620"/></geometry><origin xyz="0.1665 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0614"/></geometry><origin xyz="0.1845 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0625"/></geometry><origin xyz="0.1485 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0608"/></geometry><origin xyz="0.2025 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0601"/></geometry><origin xyz="0.2205 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0574"/></geometry><origin xyz="0.1665 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0573"/></geometry><origin xyz="0.1845 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0572"/></geometry><origin xyz="0.2025 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0571"/></geometry><origin xyz="0.2205 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0587"/></geometry><origin xyz="0.2385 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0574"/></geometry><origin xyz="0.1485 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0570"/></geometry><origin xyz="0.2385 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0550"/></geometry><origin xyz="0.1485 -0.0056 0.0181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0559"/></geometry><origin xyz="0.2565 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0556"/></geometry><origin xyz="0.2565 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0530"/></geometry><origin xyz="0.2745 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0527"/></geometry><origin xyz="0.2745 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0501"/></geometry><origin xyz="0.2925 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0498"/></geometry><origin xyz="0.2925 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0472"/></geometry><origin xyz="0.3105 -0.0056 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0469"/></geometry><origin xyz="0.3105 0.0124 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0458"/></geometry><origin xyz="0.2745 -0.0236 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0455"/></geometry><origin xyz="0.2925 -0.0236 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0457"/></geometry><origin xyz="0.1305 0.0124 0.0181" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0452"/></geometry><origin xyz="0.3105 -0.0236 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0376"/></geometry><origin xyz="0.2745 0.0304 -0.0179" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0361"/></geometry><origin xyz="0.2925 0.0304 -0.0179" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0381"/></geometry><origin xyz="0.1305 0.0304 -0.0179" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0379"/></geometry><origin xyz="0.3285 0.0304 0.0001" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0353"/></geometry><origin xyz="0.1305 -0.0236 0.0361" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_wrist_flex_joint" type="revolute">
    <origin xyz="0.321 0 0" rpy="0 0 0"/>
    <parent link="l_forearm_link"/><child link="l_wrist_flex_link"/>
    <axis xyz="0 1 0"/><limit effort="100" lower="-2.18" upper="0.0" velocity="2.0"/>
  </joint>
  <link name="l_wrist_flex_link">
    <collision><geometry><sphere radius="0.0247"/></geometry><origin xyz="-0.0070 -0.0063 -0.0105" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0248"/></geometry><origin xyz="-0.0070 -0.0063 0.0045" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0246"/></geometry><origin xyz="0.0080 -0.0063 -0.0105" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0247"/></geometry><origin xyz="0.0080 -0.0063 0.0045" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0223"/></geometry><origin xyz="-0.0070 0.0087 -0.0105" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0224"/></geometry><origin xyz="-0.0070 0.0087 0.0045" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0223"/></geometry><origin xyz="0.0080 0.0087 -0.0105" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0224"/></geometry><origin xyz="0.0080 0.0087 0.0045" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0246"/></geometry><origin xyz="-0.0070 -0.0063 0.0195" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0246"/></geometry><origin xyz="0.0080 -0.0063 0.0195" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_wrist_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="l_wrist_flex_link"/><child link="l_wrist_roll_link"/>
    <axis xyz="1 0 0"/><limit effort="100" lower="-3.14159265" upper="3.14159265" velocity="2.0"/>
  </joint>
  <link name="l_wrist_roll_link">
    <collision><geometry><sphere radius="0.0209"/></geometry><origin xyz="0.0332 -0.0000 -0.0000" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_gripper_palm_joint" type="fixed">
    <origin xyz="-0.000000 -0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <parent link="l_wrist_roll_link"/><child link="l_gripper_palm_link"/>
  </joint>
  <link name="l_gripper_palm_link">
    <collision><geometry><sphere radius="0.0285"/></geometry><origin xyz="0.0744 -0.0203 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0283"/></geometry><origin xyz="0.0894 -0.0203 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0284"/></geometry><origin xyz="0.0594 -0.0053 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0285"/></geometry><origin xyz="0.0744 -0.0053 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0283"/></geometry><origin xyz="0.0894 -0.0053 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0281"/></geometry><origin xyz="0.1044 -0.0053 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0284"/></geometry><origin xyz="0.0594 0.0097 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0285"/></geometry><origin xyz="0.0744 0.0097 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0283"/></geometry><origin xyz="0.0894 0.0097 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0281"/></geometry><origin xyz="0.1044 0.0097 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0285"/></geometry><origin xyz="0.0744 0.0247 0.0058" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0283"/></geometry><origin xyz="0.0894 0.0247 0.0058" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_gripper_l_finger_joint" type="fixed">
    <origin xyz="0.076910 0.010000 0.000000" rpy="0.000000 -0.000000 0.487111"/>
    <parent link="l_gripper_palm_link"/><child link="l_gripper_l_finger_link"/>
  </joint>
  <link name="l_gripper_l_finger_link">
    <collision><geometry><sphere radius="0.0396"/></geometry><origin xyz="0.0165 0.0163 -0.0034" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0365"/></geometry><origin xyz="0.0627 0.0159 0.0002" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0392"/></geometry><origin xyz="0.0163 0.0162 0.0035" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_gripper_l_finger_tip_joint" type="fixed">
    <origin xyz="0.091370 0.004950 0.000000" rpy="0.000000 0.000000 -0.487111"/>
    <parent link="l_gripper_l_finger_link"/><child link="l_gripper_l_finger_tip_link"/>
  </joint>
  <link name="l_gripper_l_finger_tip_link">
    <collision><geometry><sphere radius="0.0219"/></geometry><origin xyz="0.0118 -0.0049 -0.0000" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0211"/></geometry><origin xyz="-0.0092 0.0108 0.0000" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_gripper_r_finger_joint" type="fixed">
    <origin xyz="0.076910 -0.010000 0.000000" rpy="0.000000 0.000000 -0.487111"/>
    <parent link="l_gripper_palm_link"/><child link="l_gripper_r_finger_link"/>
  </joint>
  <link name="l_gripper_r_finger_link">
    <collision><geometry><sphere radius="0.0387"/></geometry><origin xyz="0.0158 -0.0158 0.0038" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0372"/></geometry><origin xyz="0.0616 -0.0160 0.0006" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0390"/></geometry><origin xyz="0.0161 -0.0161 -0.0036" rpy="0 0 0"/></collision>
  </link>
  <joint name="l_gripper_r_finger_tip_joint" type="fixed">
    <origin xyz="0.091370 -0.004950 0.000000" rpy="-0.000000 -0.000000 0.487111"/>
    <parent link="l_gripper_r_finger_link"/><child link="l_gripper_r_finger_tip_link"/>
  </joint>
  <link name="l_gripper_r_finger_tip_link">
    <collision><geometry><sphere radius="0.0209"/></geometry><origin xyz="-0.0093 -0.0110 -0.0000" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0219"/></geometry><origin xyz="0.0118 0.0049 0.0000" rpy="0 0 0"/></collision>
  </link>
  <joint name="head_pan_joint" type="revolute">
    <origin xyz="-0.01707 0.0 0.38145" rpy="0.0 0.0 0.0"/>
    <parent link="torso_lift_link"/><child link="head_pan_link"/>
    <axis xyz="0 0 1"/><limit effort="100" lower="-3.007" upper="3.007" velocity="2.0"/>
  </joint>
  <link name="head_pan_link">
    <collision><geometry><sphere radius="0.1187"/></geometry><origin xyz="0.0665 -0.0757 0.0053" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1148"/></geometry><origin xyz="0.0589 0.0916 0.0036" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1085"/></geometry><origin xyz="-0.0311 -0.0662 -0.0209" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.0997"/></geometry><origin xyz="-0.0471 0.0697 -0.0259" rpy="0 0 0"/></collision>
  </link>
  <joint name="head_tilt_joint" type="revolute">
    <origin xyz="0.068 0 0" rpy="0 0 0"/>
    <parent link="head_pan_link"/><child link="head_tilt_link"/>
    <axis xyz="0 1 0"/><limit effort="100" lower="-0.471238" upper="1.39626" velocity="2.0"/>
  </joint>
  <link name="head_tilt_link">
    <collision><geometry><sphere radius="0.1004"/></geometry><origin xyz="-0.1181 -0.0729 0.1126" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1123"/></geometry><origin xyz="0.0192 -0.0639 0.1019" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1044"/></geometry><origin xyz="-0.0021 0.0722 0.1036" rpy="0 0 0"/></collision>
    <collision><geometry><sphere radius="0.1000"/></geometry><origin xyz="-0.1247 0.0679 0.1131" rpy="0 0 0"/></collision>
  </link>
</robot>
